*.pyc
*~
dist/
libsbgn.egg-info/
libsbgnpy.egg-info/
.Rhistory
.project
.pydevproject
.settings/
.metadata
.idea
# coverage information
.coverage
htmlcov/
libsbgnpy/examples/sbgn/test-output.sbgn
libsbgnpy/examples/sbgn/test-output-annotation.sbgn
coverage.xml


.cache
.tox
docs_builder/_build/
docs_builder/.ipynb_checkpoints
