*.pyc
*~
dist/
libsbgn.egg-info/
libsbgnpy.egg-info/
.Rhistory
.project
.pydevproject
.settings/
.metadata
.idea
# coverage information
.coverage
htmlcov/
libsbgnpy/examples/sbgn/test-output.sbgn
libsbgnpy/examples/sbgn/test-output-annotation.sbgn

.cache
.tox
docs/_build/
docs/.ipynb_checkpoints
